<div class="work-log">
	Employee Number: From DB after login
	input work log
	Date: <input type="date" />
	Job: <input type="text" />
	Work Order Number: <input type="text" />
	Service Ticket Number: <input type="text" />
	Job Location/Name: <input type="text" />
	Job Address: <input type="text" />
	Unit Manufacturer Name: <input type="text" />
	Unit Model Number: <input type="text" />
	Unit Serial Number: <input type="text" />
	Unit/System Type: <input type="text" />
	Reason For Call: <input type="text" />
	Work Performed: <input type="text" />
	Parts/Material Used: <input type="text" />
	Hours: <input type="number" />
	Employee Name/Signature
	Customer Signature
</div>