<div class="contributors">
  <div class="row">
    <div class="columns small-12 medium-4" ng-repeat="contributor in contributors">
      <div class="con-box">
        <div class="con-box-icon">
          <img class="con-image" src="{{contributor.imgSrc}}" />
        </div>
        <div class="con-info">
          <h4 class="text-center">{{contributor.name}}</h4>
          <p>{{contributor.info}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column small-12">
      <button class="button expand">Learn how to become a contributor!</button>
    </div>
  </div>
</div>