.links-top-bar {

  border-bottom: 1px solid;

  .main-links-row {
    height: 91px;
  }

  .main-logo {
    margin-top: 2px;
  }

  .links {
    padding-top: 32px;
    font-size: 24px;
    text-align: right;
  }

  img {
    width: 270px;
  }
}