<div class="landing">
  <div class="row">
    <div class="columns small-12">
      <img src="http://www.fillmurray.com/g/1000/300" />
    </div>
  </div>
  <div class="row previews">
    <div class="column small-4">
      <div class="icon-location">
        <img src="assets/landing/aboutus.png">
        <hr />
        <h2 class="subheader">About Us</h2>
        <p class="information">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus diam nec consequat feugiat.</p>
      </div>
    </div>
    <div class="column small-4">
      <div class="icon-location">
        <img src="assets/landing/applynow.png">
        <hr />
        <h2 class="subheader">Apply Now</h2>
        <p class="information">Nulla ac consequat odio, quis cursus nisl. Ut congue volutpat ligula eu elementum. Nulla sit amet lacinia nunc.</p>
      </div>
    </div>
    <div class="column small-4">
      <div class="icon-location">
        <img src="assets/landing/testimonials.png">
        <hr />
        <h2 class="subheader">Testimonials</h2>
        <p class="information">Curabitur commodo, nunc non pharetra convallis, nisl massa malesuada sem, ut elementum massa mi et mi.</p>
      </div>
    </div>
  </div>
</div>