.landing {

  margin-top: 10px;

  .row {
    margin-top: 20px;
  }

  .previews {
    
    img {
      width: 200px;
    }

    .icon-location {
      text-align: center;
    }
  }

  hr {
    margin: 8px;
  }

  h2 {
    font-size: 30px;
  }

  .information {
    padding: 0px 30px 0px 30px;
    font-size: 20px;
  }
}