.header-top-bar {

  background-color: #303030;

  .row {
    background-color: #303030;
  }

  .sub-links-pad {
    margin-top: 1px;
    margin-bottom: 5px;
  }

  .sub-links {
    padding: 0rem 0rem;
    color: #fff;
  }

}